body{
    background-color:rgb(182, 178, 173);
}
.pic{
    list-style-type: none;
    padding: 10px;
}
.pic2{
    list-style-type: none;
}
h1{
    text-align: center;
    color:chocolate;
}
.header{
    color:#f7325e;
}
.text{
    color:#7dc410;
}
.font{
    font-family:fantasy;

}
.popular{
    color:crimson;
}